
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* TRINITY TECHNICAL ASSESSMENT */

body {
   overflow-x: hidden;
}

a, a:hover, a:visited, a:active {
   text-decoration: none;
}




/*   HEADER    */

header {
   background-color: #2d394a;
}

.nav {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   padding: 20px 65px 0 65px;
}
@media (max-width: 1100px) {
   .nav {
      padding: 20px 35px 0;
   }
}
@media (max-width: 768px) {
   .nav {
      flex-direction: column-reverse;
      padding: 0;
   }
}

.nav__logo {
   width: 50%;
}
@media (max-width: 768px) {
   .nav__logo {
      margin-top: 32px;
      text-align: center;
      width: auto;
   }
}

.nav__logo__image {
   height: 50px;
   transition: all .2s;
}
.nav__logo__image:hover {
   transform: scale(1.1);
}
@media (max-width: 768px) {
   .nav__logo__image {
      height: 32px;
   }
}

.nav__phone {
   justify-self: flex-end;
   width: 50%;
}
@media (max-width: 768px) {
   .nav__phone {
      background-color: #232E3E;
      padding: 0px 10px;
      text-align: center;
      width: auto;
   }
}

.nav__phone__text {
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 20px;
   line-height: 26px;
   padding-top: 10px;
   text-align: right;
}
@media (max-width: 768px) {
   .nav__phone__text {
      font-size: 16px;
      padding-bottom: 10px;
      text-align: center;
   }
}

.nav__phone__link {
   color: white;
   font-weight: bold;
}
.nav__phone__link:hover {
   color: #dadada;
}

.bgAngle {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 7vw;
}

.bgAngle--mobile {
   display: none;
   bottom: 0;
   z-index: 2;
}
@media (max-width: 768px) {
   .bgAngle--desktop {
      display: none;
   }
   .bgAngle--mobile {
      display: block;
   }
}




/*   LANDING   */

.landing {
   padding-bottom: 50px;
}

.landing__hero {
   background-color: #2d394a;
   padding: 60px 65px 80px 65px;
   padding-bottom: 100px;
   position: relative;
}
@media (max-width: 1100px) {
   .landing__hero {
      padding: 60px 35px 80px 35px;
   }
}
@media (max-width: 768px) {
   .landing__hero {
      padding: 32px 16px 0px;
   }
}

.landing__hero__container { 
   width: 40%;
}
@media( max-width: 768px) {
   .landing__hero__container {
      width: auto;
   }
}

.landing__header {
   color: white;
   font-family: "Playfair Display", serif;
   font-size: 56px;
   font-weight: bold;
   line-height: 75px;
}
@media (max-width: 1200px) {
   .landing__header {
      font-size: 50px;
      line-height: 65px;
   }
}
@media (max-width: 1100px) {
   .landing__header {
      font-size: 40px;
      line-height: 50px;
   }
}
@media (max-width: 900px) {
   .landing__header {
      font-size: 36px;
      line-height: 45px;
   }
}

.landing__subheader {
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 20px;
   line-height: 26px;
   margin-top: 30px;
}
@media (max-width: 768px) {
   .landing__subheader{
      margin-top: 25px;
   }
}

.landing__content {
   max-width: 50%;
}
@media (max-width: 768px) {
   .landing__content {
      max-width: none;
   }
}

.landing__summary {
   padding: 30px 40px 0 65px;
}
@media (max-width: 1100px) {
   .landing__summary {
      padding: 30px 40px 0 35px;
   }
}
@media (max-width: 768px) {
   .landing__summary {
      background-color: #2d394a;
      padding: 16px 16px 100px 16px;
      position: relative;
   }
}

.landing__text {
   color: #454545;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 25px;
   padding: 5px 25px 5px 0;
}

@media (max-width: 1100px) {
   .landing__text {
      padding: 4px 25px 10px 0;
   }
}
@media (max-width: 768px) {
   .landing__text {
      color: white;
   }
}

li.landing__text {
   padding-left: 25px;
   text-indent: -25px;
}

li.landing__text:before {
   content: '✓';
   color: #a1d9d3;
   font-size: 24px;
   margin-right: 7px;
}

.landing__text__link {
   color: #535d6b;
   text-decoration: underline;
}
.landing__text__link:hover {
   color: #728092;
   text-decoration: underline;
}
@media (max-width: 768px) {
   .landing__text__link {
      color: white;
   }
   .landing__text__link:hover {
      color: #dadada;
   }
}

.landing__signup {
   background-color: white;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
   border-radius: 7px;
   padding: 50px 45px;
   position: absolute;
   top: 150px;
   width: 40%;
   right: 65px;
}
@media(max-width: 1100px) {
   .landing__signup {
      right: 35px;
   }
}
@media(max-width: 768px) {
   .landing__signup {
      position: relative;
      width: 70%;
      right: auto;
      margin: -80px auto 0;
      padding: 32px 15px;
      top: 0;
      z-index: 7;
   }
}

.form__preheader{
   color: #CE427A;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 22px;
   font-weight: bold;
   letter-spacing: 3.83px;
   text-align: center;
}

.form__header{
   color: #2D394A;
   font-family: "Playfair Display", serif;;
   font-size: 36px;
   font-weight: bold;
   line-height: 48px;
   padding: 5px 0 25px;
   text-align: center;
}
@media (max-width: 1100px) {
   .form__header {
      font-size: 30px;
   }
}
@media (max-width: 900px) {
   .form__header {
      font-size: 27px;
   }
}
@media (max-width: 800px) {
   .form__header {
      font-size: 22px;
      line-height: 30px;
   }
}

.form__label {
   color: #454545;
   display: block;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 33px;
   padding-bottom: 8px;
}

.form__input {
   border: 1px solid #A2B9C2;
   border-radius: 3px;
   display: block;
   font-size: 16px;
   outline: none;
   padding: 10px;
   width: calc(100% - 20px);
}

.form__input:focus {
   border-color: #76878f;
}

.form__submit {
   background-color:#2D394A;
   border: none;
   border-radius: 3px;
   color: white;
   cursor: pointer;
   display: block;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   font-weight: bold;
   margin: 0 auto;
   margin-top: 30px;
   padding: 10px 24px;
   transition: background-color .2s;
   width: auto;
}

.form__submit:hover {
   background-color: #795b7e;
}


.border {
   height: 1px;
   background-color: #a8bec6;
   margin: 0 65px;
}
@media (min-width: 1700px) {
   .border {
      margin-top: 35px;
   }
}
@media (max-width: 1100px) {
   .border {
      margin: 0 35px;
   }
}
@media (max-width: 768px) {
   .border {
      margin: 0 16px;
   }
}


/*    CARDS */

.cards {
   padding-top: 70px;
}

.cards__header {
   color: #2D394A;
   font-family: "Playfair Display", serif;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
}
@media (max-width: 1100px) {
   .cards__header {
      font-size: 30px;
   }
}
@media (max-width: 768px) {
   .cards__header {
      font-size: 25px;
      line-height: 30px;
      padding: 0 16px;
   }
}

.cards__container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin-top: 45px;
   padding: 0 65px;
}
@media (max-width: 1100px) {
   .cards__container {
      padding: 0 35px;
   }
}
@media (max-width: 768px) {
   .cards__container {
      flex-direction: column;
      padding: 0 16px;
   }
}

.cards__card {
   border-radius: 7px;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
   overflow: hidden;
   width: 30%;
}
@media (max-width: 768px) {
   .cards__card {
      width: 100%;
      margin-bottom: 16px;
   }
}

.cards__image {
   background-color: #ed9e98;
   height: 130px;
}

.cards__image--vidchat {
   background-image: url("./img/vid-chat.png");
   background-size: cover;
   background-position: center;
}

.cards__image--roadmap {
   background-image: url("./img/roadmap.png");
   background-size: cover;
   background-position: center;
   /* margin: 0 20px; */
}

.cards__image--growth {
   background-image: url("./img/growth.png");
   background-size: cover;
   background-position: center;
}

.cards__content {
   padding: 22px 16px;
   text-align: center;
}
@media (max-width: 1100px) {
   .cards__content {
      padding: 16px;
   }
}

.cards__content__header {
   color: #454545;
   font-family: "Roboto", "Arial", sans-serif;
   font-weight: bold;
   line-height: 25px;
   padding-top: 10px;
}
@media (max-width: 1100px) {
   .cards__content__header {
      padding: 0;
   }
}

.cards__content__text {
   color: #454545;
   font-family: "Roboto", "Arial", sans-serif;
   line-height: 25px;
   padding-top: 10px;
}






/*    PERSPECTIVE   */

.perspective {
   margin-top: 60px;
}

.perspective__header {
   color: #2D394A;
   font-family: "Playfair Display", serif;
   font-size: 36px;
   font-weight: bold;
   line-height: 48px;
   text-align: center;
}
@media (max-width: 1100px) {
   .perspective__header {
      font-size: 30px;
   }
}
@media (max-width: 768px) {
   .perspective__header {
      font-size: 22px;
      line-height: 30px;;
      padding: 0 16px;
   }
}

.perspective__container {
   margin: 0 auto;
   margin-top: 25px;
   max-width: 870px;
}
@media (max-width: 1100px) {
   .perspective__container {
      max-width: 650px;
   }
}
@media (max-width: 768px) {
   .perspective__container {
      padding: 0 16px;
      max-width: none;
   }
}

.perspective__text {
   color: #454545;
   font-family: Roboto;
   font-size: 16px;
   line-height: 25px;
   padding-top: 15px;
}


/*    CASES     */

.cases {
   border: 1px solid #979797;
   background: linear-gradient(333.86deg, #A16F86 0%, #625180 47.9%, #3C3159 100%);
   margin-top: 80px;
   padding-bottom: 80px;
}
@media (max-width: 768px) {
   .cases {
      margin-top: 32px;
      padding: 32px 0;
   }
}

.cases__header {
   color: #FFFFFF;
   font-family: "Playfair Display", serif;
   font-size: 36px;
   font-weight: bold;
   line-height: 48px;
   margin-top: 80px;
   text-align: center;
}
@media (max-width: 1100px) {
   .cases__header {
      font-size: 30px;
      padding: 0 35px;
   }
}
@media (max-width: 768px) {
   .cases__header {
      font-size: 22px;
      line-height: 30px;
      margin-top: 0;
      padding: 0 16px;
   }
}

.cases__subheader {
   color: #FFFFFF;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 25px;
   padding-top: 15px;
   text-align: center;
}
@media (max-width: 1100px) {
   .cases__subheader {
      padding: 15px 35px 0;
   }
}
@media (max-width: 768px) {
   .cases__subheader {
      padding: 10px 16px 0;
   }
}

 .cases__container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin-top: 13%;
   padding: 0 65px;
}
@media (max-width: 1100px) {
   .cases__container {
      padding: 0 35px;
   }
}
@media (max-width: 768px) {
   .cases__container {
      flex-direction: column;
      margin-top: 30%;
      padding: 0 16px;
   }
}

.cases__case {
   border-radius: 7px;
   background-color: white;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
   padding-bottom: 100px;
   position: relative;
   text-align: center;
   width: calc(50% - 10px);
 }
 @media (max-width: 768px) {
   .cases__case {
      margin-bottom: 30%;
      width: 100%;
   }
   .cases__case:nth-last-of-type(1) {
      margin-bottom: 20px;
   }
}

 .cases__image {
   margin-top: -25%;
   width: 90%;
 }

 .cases__label {
   color: #CE427A;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 2.78px;
   line-height: 21px;
   padding-top: 30px;
 }
 @media (max-width: 768px) {
    .cases__label {
       padding-top: 16px
    }
 }

 .cases__title {
   color: #2D394A;
   font-family: "Playfair Display", serif;
   font-size: 22px;
   font-weight: bold;
   line-height: 30px;
   padding: 5px 10px 0;
 }
 @media (max-width: 768px) {
   .cards__title {
      font-size: 18px;
   }
}

.cases__text {
   color: #454545;
   font-family: Roboto;
   font-size: 16px;
   line-height: 25px;
   padding: 10px;
}

.cases__button {
   border-radius: 3px;
   background-color: #2D394A;
   color: white;
   display: block;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   font-weight: bold;
   margin: 0 auto;
   margin-top: 16px;
   padding: 10px 24px;
   position: absolute;
   bottom: 45px;
   left: 50%;
   transform: translateX(-50%);
   transition: background-color .2s;
}

.cases__button:hover {
   background-color: #795b7e;
}



/*    LOGOS    */

.logos {
   padding: 80px 30px;
}
@media (max-width: 768px) {
   .logos {
      padding: 32px 16px
   }
}

.logos__header {
   color: #454545;
   font-family: Roboto;
   font-size: 22px;
   font-weight: bold;
   letter-spacing: 2px;
   line-height: 25px;
   text-align: center;
}

.logos__left {
   color: #A2B9C2;
   cursor: pointer;
   font-size: 55px;
   font-weight: bold;
   position: absolute;
   top: 46%;
   left: 65px;
   z-index: 1;
   transition: all .25s;
}
@media (max-width: 1100px) {
   .logos__left{left: 35px;}
}
@media (max-width: 768px) {
   .logos__left{left: 16px;}
}

.logos__right {
   color: #A2B9C2;
   cursor: pointer;
   font-size: 55px;
   font-weight: bold;
   position: absolute;
   top: 46%;
   right: 65px;
   text-align: right;
}
@media (max-width: 1100px) {
   .logos__right{right: 35px;}
}
@media (max-width: 768px) {
   .logos__right{right: 16px;}
}

.logos__left:hover,
.logos__right:hover {
   transform: scale(1.2);
}

.logos__slider {
   max-width: 87%;
   margin: 30px auto 0;
}

.logos__image {
   width: 100%;
}



/*   FOOTER   */

.footer {
   background-color: #2D394A;
   padding-top: 25px;
   padding-bottom: 15px;
   text-align: center;
}

.footer__logo {
   width: 40px;
}

.footer__copyright {
   color: #FFFFFF;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 25px;
   margin-top: 15px;
}